*{
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    height: 23px;
    background: red;
    
}

.header div {
    display: flex;
    font-size: small;
}
.header div {
    display: flex;
}